<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %} Produtos {% endblock %}
    {% block content %}

    <h2>Produtos</h2>

    <a href="/produtos/novo">
        Novo Produto
    </a>

    {% for produto in produtos %}

    <article>
        <h3>{{produto["nome"]}}</h3>
        <p>{{"%.2f" | format(produto["preco"])}}</p>
        <p>{{produto["estoque"]}}</p>
    </article>

    {% endfor %}
    {% endblock %}
    
</body>
</html>